@charset "UTF-8";

/* Resetando margem e padding de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilizando o corpo da página */
body {
    background-color: rgb(248, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilizando o título principal */
h1 {
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

/* Estilizando o conteúdo principal */
main {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main p {
    margin-bottom: 20px;
}

main select,
main input[type="number"],
main input[type="button"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
}

main input[type="button"] {
    background-color: rgb(248, 141, 141);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

main input[type="button"]:hover {
    background-color: rgb(200, 100, 100);
}

#resultado {
    margin-top: 20px;
    font-size: 1.2rem;
    color: rgb(248, 141, 141);
}
